.enlace_inicio {
    margin-left: 190px !important;

}

.boton_menu_contacto {
    color: rgb(255, 253, 253) !important;
    background: #4adee9 !important;
    margin-left: 10px !important;
    border-radius: 8px !important;
    font-family: Arial !important;
    font-size: 16px !important;
}

.boton_menu_iniciar_sesión {
    color: rgb(255, 253, 253) !important;
    background: #75f379 !important;
    margin-left: 10px !important;
    border-radius: 8px !important;
    font-family: Arial !important;
    font-size: 16px !important;
}

.botones_menu {
    font-family: Arial !important;
    font-size: 16px !important;
    color: rgb(31, 30, 30) !important;
}

.imagen_logo_menu {
    width: 100%;
    height: 110px;
    margin: -13px;
    margin-left: 15px;
}

.bg-body-tertiary {
    background-color: rgb(244, 244, 244) !important;
}

/* hasta aqui llegan los estilos de la barra de menu de navbar.*/

/* aqui rabajos trabajas sobre los estilos del carousel*/

.imagen_slider {
    margin-top: 10px !important;
    margin-left: 85px !important;
    align-items: center !important;
    width: 90% !important;
    margin: 10px 60px !important;
    height: 280px !important;
    border-radius: 20px !important;

}


/* aqui empieza el efecto espejo*/

.palabras_dentro_efecto_espejo1 {
    text-decoration: none;
    margin-top: 45px;
    margin-left: 210px;

}

.carrusel1 {
    width: 90%;
    margin: 10px 60px;
    height: 280px;

}

.contenedor_seccion {
    width: 100%;
    text-align: center;
    margin-top: 60px;

}

.iconos-nosotros {
    display: flex;
    margin: 0px 120px;
    gap: 100px 140px;
    margin-top: 30px;

}

.iconos-nosotros img {
    width: 90px;
    height: 100px;
}

.seccion_contenedor {
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

.seccion_contenedor h2 {
    margin: 40px;
    margin-bottom: 47px;
}

.contenedor-anuncios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.anuncio {
    width: 400px;
    height: 700px;
    padding: 0px;
    margin: 0px 20px;
    background-color: rgb(236, 236, 240);
    border-radius: 40px;
}

.img_anuncio {
    width: 400px;
    height: 400px;

}

.img_tarjeta {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 40px 0px;
}


.iconos-caracteristicas {
    display: flex;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 5px 10px;
    margin-top: 13px;
}

.iconos-caracteristicas li {
    width: 100px;
}

.contenido-anuncio a {
    width: 100%;
    text-decoration: none;
    color: #fcfcfc;
    font-size: 23px;
    background-color: rgb(226, 233, 8);
    padding: 7px 98px;
}

.contenido-anuncio h3 {
    margin: 15px 0px;
}

.contenido-anuncio p {
    padding: 0px 40px;
    margin-bottom: 5px;
}

.precio {
    color: #24f42b;
    font-weight: bold;
    font-size: 28px;
    border-color: black;
}