<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: #336699; /* Cambia el color del texto a un tono de azul */
            font-family: Arial, sans-serif; /* Cambia la fuente del texto */
            text-align: center; /* Centra el texto horizontalmente en la página */
        }
    </style>
</head>
<body>
    <h1>Proyecto inmobiliaria</h1>
</body>
</html>
